/**
 * Schema Markup Generator - Admin Styles
 * 
 * Uses Metodo Design System for all components.
 * 
 * @package flavor\SchemaMarkupGenerator
 * @author  Michele Marri <info@metodo.dev>
 */

/* Import the complete Metodo Design System */
@import 'metodo-design-system/src/index.css';
